.figures-container {
  height: auto;
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.5rem 0.5rem 0.5rem var(--very-light-pink);
}

.figures-containers form {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

@media (min-width: 1080px) {
  section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .cuadrado {
    order: 1;
    width: 30%
  }
  .circulo {
    order: 2;
    width: 30%
  }
  .triangulo {
    order: 3
  }
}