* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --hospital-green: #acd9b2;
  --dark: #232830;
  --text-input-field: #f7f7f7;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
}

main {
  height: 95vh;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  display: none;
}

.section-container {
  border-radius: 0.8rem;
  box-shadow: 0.3rem 0.5rem 0.5rem 0.5rem var(--very-light-pink);
  padding: 2rem 2.5rem;
  width: 80vw;
  height: auto;
}

.input {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--text-input-field);
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.primary-button {
  background-color: var(--hospital-green);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  font-size: var(--md);
  width: 100%;
  height: 4rem;
  margin-top: 1.5rem;
}

.secondary-button {
  background-color: var(--white);
  border: 1px solid var(--hospital-green);
  border-radius: 0.5rem;
  color: var(--hospital-green);
  cursor: pointer;
  font-size: var(--md);
  width: 100%;
  height: 4rem;
  margin-top: 1.5rem;
}

.text-container {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-container span:last-child {
  font-weight: bold;
  font-size: var(--lg);
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 5vh;
  padding: 0 1rem;
}

.social_media {
  display: none;
}

.love {
  color: var(--hospital-green);
  padding: 0 2rem;
}

@media (min-width: 640px) {
  .title {
    display: block;
    margin-left: 1.5rem;
  }
  .footer {
    justify-content: space-between;
  }

  .social_media {
    display: block;
  }

  .social_media a {
    text-decoration: none;
    color: var(--hospital-green);
  }
}
